@import "partials/settings";

@import "partials/pages/homepage";
@import "partials/pages/newsevents";

header {
  text-align: center;
  height: 350px;
  .banner {
    position: absolute;
    left: 0;
    z-index: -999;
  }
  .logo {
    display: inline-block;
    margin-top: 86px;
  }
}

nav {
  background-color: $durley_blue;
  ul {
    background-color: $durley_blue;
  }
  li {
    height: 60px;
    border-right: 3px solid #1c88cf;
    padding: 0 20px;
    transition: 0.5s background-color;
    &.is_active, &:hover {
      background-color: $durley_blue_hover;
      border-bottom: 3px solid #fff;
      a {
        margin-top: 3px;
      }
    }
    a:hover {
      color: #fff;
    }
    ul.submenu {
      background: none;
      border-top: 3px solid #fff !important;
      /*border-left: 1px solid #fff;
      border-right: 1px solid #fff;
      border-bottom: 1px solid #fff;*/
      margin-left: -3px;
      li {
        margin-left: 0;
        /*border-bottom: 1px solid #fff;*/
        padding: 0;
        a {
          padding-top: 19px !important;
        }
      }
    }
  }
  a {
    color: #fff;
    font-weight: bold;
  }
  .dropdown.menu {
    .is-dropdown-submenu-parent.is-down-arrow > a::after {
      border-color: #fff transparent transparent;
    }
    .submenu {
      background-color: $durley_blue;
    }
  }
}

.banner {
  width: 100%;
  max-height: 550px;
  opacity: 0.4;
}

.slide {
  width: 100%;
  padding: 40px 0;
  background-color: #222;
  &:nth-child(even) {
    background-color: #eee;
  }
  h2 {
    font-family: 'kg_lego_houseregular', sans-serif !important;
  }
  > img {
    height: 200px;
    border-radius: 500px;
    float: left;
  }
  &.has-image {
    .content {
      margin-left: -6px;
      float: left;
    }
  }
  &.left {
    text-align: left;
    padding-left: 60px;
    h2 {
      color: $durley_blue;
    }
    .content {
      padding-left: 60px;
      p {
        width: 75%;
      }
    }
  }
  &.center {
    text-align: center;
    h2 {
      color: $durley_orange;
    }
    .content {
      width: 40%;
      color: #fff;
      margin: 0 auto;
      font-size: 14pt;
    }
  }
  &.right {
    text-align: right;
    h2 {
      color: $durley_green;
    }
    .content {
      padding-right: 60px;
    }
  }
}

footer {
  height: 200px;
  text-align: center;
  padding-top: 45px;
  background-color: #eee;
  span {
    font-size: 14pt;
  }
  #icons {
    width: 26%;
    margin: 12px auto 0 auto;
  }
  a {
    float: left;
    height: 75px;
    width: 75px;
    background-color: $durley_blue;
    display: inline-block;
    padding-top: 21px;
    border-radius: 500px;
    color: #fff;
    &:hover {
      color: #eee;
    }
    &:not(:first-of-type) {
      margin-left: 12px;
    }
  }
}